@{
    var modelData = ViewData["users"];
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Ticket
<form action="~/User/CreateTicket" method="post" class="mx-1 mx-md-4">

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label asp-for="Title" class="fw-bold">Title</label>
            <span class="title d-block form-control">
                <input asp-for="Title" placeholder="Title" class="form-control border-0" />
            </span>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label asp-for="Description" class="fw-bold">Description</label>
            <span class="username d-block form-control">
                <input asp-for="Description" placeholder="Write Description" class="form-control border-0" />
            </span>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label asp-for="status" class="fw-bold">Status</label>
                <select asp-for="status" class="form-control">
                    <option value="To Do">To do</option>
                </select>
          
            <span asp-validation-for="status" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label asp-for="AssignedTo" class="fw-bold">Assigned To</label>
            <select asp-for="AssignedTo" class="form-control">
                @foreach (var item in modelData as List<CustomUser> ?? new List<CustomUser>())
                {
                    if (item.UserName != "admin")
                    {
                        <option value="@item.FullName">@item.FullName - @item.Designation</option>
                    }
                }  
            </select>

            <span asp-validation-for="status" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label asp-for="sprint" class="fw-bold">Sprint</label>
            <span class="title d-block form-control">
                <input asp-for="sprint" type="number" min="1" placeholder="Enter Sprint number " class="form-control border-0" />
            </span>
            <span asp-validation-for="sprint" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg shadow-sm signup-button">Create</button>
    </div>
</form>