@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <h1>Pipeline Test</h1>
    <a asp-controller="Admin" asp-action="AllUsers" class="btn btn-primary btn-lg shadow-sm m-2">Show Users</a>
    <a asp-controller="Admin" asp-action="AllTickets" class="btn btn-primary btn-lg shadow-sm m-2">Show Tickets</a>
</div>